body{
	max-width: 	100%;
}
ul{
	list-style: none;
}
.header	{
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
}

.header{

    position: fixed;
    background: #fff;
    z-index: 1000;
}
.content{
  margin-top: 110px;
}

@font-face{
	font-family: Proxima Nova;
	src: url(../font/ProximaNova-Regular.woff);
}
.logo{
	display: flex;
	align-items: center;
    padding-left: 0px;  

}
.logo span{
	font-family: Proxima Nova;
	font-size: 12px;
	line-height: 130%;
	color: #727374;	
}
.menu{
	display: flex;
}
.nav{
	display: flex;
   width: 100%;
   align-items: center;
}
.nav li:not(last-child	){
	padding-right: 20px;	
}
.nav a{
	font-family: Proxima Nova;
	font-size: 14px;
	line-height: 17px;
	color: #8B9DE6;
}
.navbar2{
	display: flex;
	margin-top: 18px;	
}
.nav2{
	display: inline;
	display: flex;
   width: 100%;
   padding: 0;	
}
.nav2 a {
	font-family: Proxima Nova;
	font-size: 14px;
	line-height: 17px;
}
.nav2 img{
	padding: 0px 10px;	
}
.act{
	color: black;
}
.poisk{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 144px;
	line-height: 175px;
	text-transform: uppercase;
	color: #F3F3F8;
}

.text{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 34px;
	line-height: 51px;
	color: #122861;
	transform: translateY(-88px);		
	z-index: 	1;
}
.vvod{
	border: none;
	border-bottom:  1px solid #8B9DE6;
	width: 448px;	

}

.vvod input{
  padding: 0; 
  margin: 0;  
	width: 448px;	
}
.btn{
	border-radius: 40px;
	margin-left: 60px;	
	width: 224px;	
	text-align: 	center	;
}
.find{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 150%;
	color: #C4C4C4;
  padding: 0; 
}
.fing img {
	margin: 0px 2px;	
}
.find p{
	margin-top: 24px;	
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 150%;
	color: #727374;
}
.find a{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #727374;
}
.find a:not(second-child){
	padding: 0px 5px;	
}

.t{
	margin-top: 26px;	
		width: 630px;	
	padding: 0;  
}
.t1{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-decoration:none;	color: #727374;
}
.t2{
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	text-decoration: underline;
	margin-top: 24px;	
	color: #8B9DE6;
	cursor: pointer;
}
@media(max-width: 992px){
  .btn{
    display: none;
  }
  .vvod{
    width: 100%;
  }
  .logo{
    width: 48.8px;
height: 46.38px;
  }
}/*
@media (max-width: 1200px){
  .menu{
    display: none;
  }
}
*/
@media (max-width: 768px){
  .menu{
    display: none;
  }
  .vvod input {
    width: 300px ;
  }
  .t{
    width: 100%;
    padding: 0;
  }
  .t1{
    font-size: 14px;
  }
  .t2{
    font-size: 16px;
  }
  .find p{
    font-size: 16px;
  }
  .poisk {
    font-size: 40px;
  }
  .text{
    font-size: 17px;
    transform: translateY(-95px);   

  }
  
}
.pagination {
  margin-top: 59px;	
  display: flex;
}

.pagination li {		
	padding-top: 6px;	
  color: black;
  text-decoration: none;
  width: 36px;	
  height: 36px;	
  border-radius: 50%;
  background-color: #8B9DE6	;
  text-align: 	center	;	
	margin-left: 28px;
}
.pagination a {
	text-align: center	;
	font-family: Proxima Nova;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
	color: #FFFFFF;	
}
.pagination .active{
	background-color: #fff;
}
.pagination .active a{
	color: black;
}
.active a{
	color: black;
}
@media(max-width: 550px){
  .pagination{
      justify-content: space-around;

  }
  .pagination a{
    font-size: 16px;
    display: flex;

    align-items: center;
  }
  .pagination li{
    display: flex;

    padding: 0;
    margin: 0;  
    width: 31px;
    height: 31px;
    margin-left: 0;
    justify-content: space-around;
  }
}
.btn{
	background-color: #8B9DE6;
}
.footer{
	margin-top: 360px;
		background: url(../img/Vector.png) no-repeat right top;
		background-size: 248px 443px;
    max-width: 100%;
}
@media(max-width: 1199px){
  .footer{
    background: none;
  }
}
.logof{
	display: flex;
}
.gku{
	font-family: Proxima Nova;
	font-size: 18px;
	line-height: 24px;
	color: #8B9DE6;
}
.cen{
	font-family: Proxima Nova;
	font-size: 16px;
	line-height: 130%;
	padding-top: 7px;
	color: #122861;
}
.gku li:not(:first-child){
	padding-top: 13px;
}



.footer {
  padding: 120px 0 30px 0;
  background: url(../img/Vector.png) no-repeat right top;
  background-size: 248px 443px; }

  @media (max-width: 1199.98px) {
    .footer {
      background: none;
      background: #ffffff;
      padding-top: 60px; } }
  @media (max-width: 767.98px) {
    .footer {
      padding-top: 0px; } }
  @media (max-width: 575.98px) {
    .footer {
      padding-bottom: 150px; } }
  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    @media (max-width: 1199.98px) {
      .footer__logo {
        display: block;
        text-align: center; } }
    .footer__logo img {
      width: 87px; }
      @media (max-width: 1199.98px) {

        .footer__logo img {
          margin: 0 auto; } 
    }
  .footer .site-info {
    padding-left: 30px;
    max-width: 350px; }
    @media (max-width: 1199.98px) {
      .footer .site-info {
        max-width: 100%;
        width: 100%;
        padding-left: 0;
        padding-top: 10px; } }
  .footer .site-name {
    font-size: 18px;
    line-height: 24px;
    color: #8B9DE6;
    font-weight: 500; }
    @media (max-width: 1199.98px) {
      .footer .site-name {
        display: none; } }
  .footer .site-text {
    font-size: 16px;
    line-height: 21px;
    color: #122861;
    padding-top: 10px; }
    @media (max-width: 1199.98px) {
      .footer .site-text {
        padding-top: 0px;
        max-width: 300px;
        margin: 0 auto; } }
  .footer__menu {
    padding: 0 80px 0 0;
    position: relative; }
    @media (max-width: 1199.98px) {
      .footer__menu {
        padding: 0; } }
  .footer .menu {
    min-height: 190px;
  }
    @media (max-width: 1199.98px) {
      .footer .menu {
        min-height: auto; }
  }
    .footer .menu__ul {
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      @media (max-width: 1199.98px) {
        .footer .menu__ul {
          display: none; } }
    .footer .menu__li {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      padding-bottom: 5px; }
    .footer .menu__link {
      font-size: 18px;
      line-height: 33px;
      color: #8B9DE6;
      font-weight: 500; }
      .footer .menu__link:hover {
        color: #000000; }
  .footer .social {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0; }
    @media (max-width: 1199.98px) {
      .footer .social {
        position: static;
        width: 100%;
        text-align: center;
        padding-top: 20px; } }

.footer .social__link {
  width: 50px;
  height: 50px;
  display: block;
  margin-bottom: 8px; }
.footer .social__link img {
  max-width: 100%;
}
@media (max-width: 1199.98px) {
  .footer .social__link {
    display: inline-block;
    width: 47px;
    height: 47px; } }
.footer .social__link img {
  max-width: 100%; }
.marg{
  margin-top: 15%;
}
.marg1{
  margin-top: 5%;
}


  .footer__copyright {
    margin-top: 40px;
    border-top: 2px solid #8B9DE6;
    padding: 20px 0 0 0;
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    line-height: 33px;
    text-align: left;
    color: #727374;
    justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer__copyright .copy-mobile {
      display: none; }
    @media (max-width: 1199.98px) {
      .footer__copyright {
        font-size: 14px;
        line-height: 150%;
        /* or 21px */
        text-align: center;
        display: block;
        margin-top: 20px;
        border-top: 0;
        position: relative; }
        .footer__copyright:after {
          content: '';
          border-top: 2px solid #8B9DE6;
          height: 0;
          width: 200px;
          display: block;
          position: absolute;
          top: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
                  transform: translateX(-50%); }
        .footer__copyright .copy-mobile {
          display: block; }
        .footer__copyright .copy-full {
          display: none; } }
    .footer__copyright img {
      max-width: 98px;
      margin-left: 15px; }
      @media (max-width: 1199.98px) {
      .footer__copyright img {
         display: block;
         margin: 10px auto 0 auto; } 
      }
@media(max-width :768px){
	.footer{
		margin-top: 109px; 
	}
	.text{
		transform: translateY(0px);   
		line-height:  150%;
}
.poisk {
line-height: 49px;
}

.logo img{
  width: 48.8px;
height: 46.38px;
}
}
@media(max-width :425px){
  .logo span{
    font-size: 10px;
  }
}
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
 .navbar-expand-md
{
  padding-left: 0;
  text-align: center;
}
.k{
  display: none;
}
.top-nav{
	display: none;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   /* IE10+ specific styles go here */  
	.navbar-expand-md img{
	width: 87px;
	height: 84.8px;
}
.menu__ul li{
	padding-right: 40px;
} 
.r{
	display: none;
}

.k{
	display: block ;
}
.header{
	display: none;
}
.top-nav {
	background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #8B9DE6 ;
  height: 100px;
  padding: 1em;
  width: 100%;
}

}
@media (max-width: 1199.98px) {
	.k{
		display: none;
	}
}
@import url(https://fonts.googleapis.com/css?family=Raleway);






.menu {
	display: none;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li{
	font-family: Proxima Nova;
	color: #8B9DE6;

	font-size: 14px;
line-height: 17px;
}
.menu .active{
	color:#000000;
}

.menu li:not(last-child	){
	padding-right: 20px;	
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}


.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 800ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}
.menu{
	display: flex;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: -7px;
  transform: rotate(-360deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  transform: rotate(180deg);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 7px;
  transform: rotate(360deg);

}

@media (max-width: 999px) {
  .menu-button-container {
    display: flex;
  }
  
  #menu-toggle:checked + .menu>li{
	  display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 100px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle:checked ~ .menu li {
	display: flex;
	 color: #8B9DE6;
	background-color: white;
    height: 2.5em;
    padding: 0.5em;
  }
  #menu-toggle:checked ~ .menu .active{
	  color:#000000;
  } 
  .menu > li {
    display: none;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;

  }
  .menu>li:last-child{
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);

  }

}
@media (max-width:767px) {
.nav{
display: inline;

}	
	
}
.top-nav	{
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
	padding: 0 auto;
}
.top-nav .container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}